*{
margin: 0;
padding: 0;
}

.linha {
width: 100%;
height: 10%
display: flex;
}

.red {
width: 4%;
height: 100%;
background: red;
}

.green {
width: 4%;
height: 100%;
background: green;
}

.blue {
width: 4%;
height: 100%;
background: blue;
}
